<div class="container story">
				<div class="row bottom-section-landing">
					<div class="col-md-6 col-sm-12">
						<div class="landing-video">
							<!-- <iframe class="tut-vid" width="100%" height="315" src="//www.youtube.com/embed/videoseries?list=PLj2yhd2ddoQvic1zNCBNZ0PN_dfpEd-tj" frameborder="0" allowfullscreen></iframe> -->
							<!-- <a class="btn-primary tut-vid-4app" href="https://www.youtube.com/watch?v=FQ4aCNvnTYU">CPK Desktop Version</a>
							<a class="btn-primary tut-vid-4app" href="https://www.youtube.com/watch?v=JBh7Y05qpSY">CPK Mobile Tutorial Video</a>
							<a class="btn-primary tut-vid-4app" href="https://www.youtube.com/watch?v=64Ovms9Neqk">CPK More Explaination</a> -->
						</div>
					</div>
					<div class="col-md-6 col-sm-12">
						<!-- <h4 class="catch-phase1">
							Tell your friends to <br>
							cancel their cable!
						</h4> -->
						<div class="tut-video-4app">
							<!-- <a class="btn-primary tut-vid-4app" href="https://www.youtube.com/watch?v=JBh7Y05qpSY">CPK Mobile Tutorial Video</a> -->
						</div>
					</div>
				</div>
			</div>