<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CPK Browser - FAQ's</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <title></title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		  <meta name='robots' content='noindex,follow' />
		<link rel="stylesheet" href="/stylesheets/main-basic.min.css?ver=2d95d7aa4f045d02efeac3d0ddda3560">
		<link rel="stylesheet" href="/stylesheets/basic-temp.css">
		<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
		<script>window.jQuery || document.write('<script src="/javascripts/jquery.js"><\/script>')</script>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="basic">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    <div class="container copyright-bg">
	   <div class="row row-reset">
		    <h1 class="primary">
		    	FAQ's Coming Soon
		    </h1>
		    <h4 class="primary faqs-title">What devices/browser are supported?</h4>
		    <hr class="section-basic"></hr>
				<ul>
				<li>Windows 7 and newer</li>
				<li>All Macs</li>
				<li>Android - Use <a class="base-link" href="https://play.google.com/store/apps/details?id=com.cloudmosa.puffinFree&hl=en">Puffin Browser</a></li>
				<li>iOS iPhone and iPad and 4, 4s, 5s, 5c, 6, 6+</li>
				<li>Google Chrome Cast</li>
				</ul>
				<h4 class="primary faqs-title">How do I use iDevices with CPK?</h4>
		    	<hr class="section-basic"></hr>
		    	<ol class="section">
		    		<li>Go to <a class="base-link" href="http://www.cpkbrowser.com">CPKBrowser.com</a></li>
		    		<li>Click this button <img src=""></li>
		    		<li>Add to HomeScreen
			    		<li>
			    			CPK Browser Icon will be added to your homescreen
			    		</li>
		    		</li>
				</ol>
				<h4 class="primary faqs-title">What video game plathorms work are supported? </h4>
		    <hr class="section-basic"></hr>
				<ul>
				<li>PS4 - Install Flash</li>
				<li>PS3 - Not Tested</li>
				<li>XBox One - Not Tested</li>
				<li>XBox 360 - Not Tested</li>
				</ul>
				<h4 class="primary faqs-title">What Do I get with a Paid Account?</h4>
		    	<hr class="section-basic"></hr>
		    	<ul class="section">
		    		<li>Custom Bin Creator</li>
		    		<li>Advanced Popup Blocker</li>
		    		<li>Social Media</li>
				</ul>
				<div class="row">
					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="primary">This Package</h5>
						<div class="signup-onFAQ">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						</div>
							<a href="#" class="main-link package-signup">Sign Up</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="primary">This Package</h5>
						<div class="signup-onFAQ">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						</div>
							<a href="#" class="main-link package-signup">Sign Up</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="primary">This Package</h5>
						<div class="signup-onFAQ">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						</div>
							<a href="#" class="main-link package-signup">Sign Up</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<h5 class="primary">This Package</h5>
						<div class="signup-onFAQ">
							Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
						</div>
							<a href="#" class="main-link package-signup">Sign Up</a>
					</div>
				</div>
					
				</div>
				
  </div>
</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>