<!DOCTYPE html>
<html>
<head>
	<script type="text/javascript" src="/javascripts/jquery.js"></script>
	<script type="text/javascript" src="/javascripts/TestConnection.js"></script>
<script type="text/javascript" src="/javascripts/basic.js"></script>	
	<meta charset="ISO-8859-1">
	<title>Web Server Test</title>
</head>
<body>
	<label id="lblTest" style="color: Black;">Hello World!</label>
	<br />
	<a id="lnkTest" href="/test.html">Test Link</a>
	<br />
	<input type="button" id="btnTestJS" value="Test JS"/>
</body>
</html>