<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  		<title>CPK Browser</title>
  		<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
  		<meta name="viewport" content="width=device-width, initial-scale=1.0,  maximum-scale=1.0, user-scalable=no"></meta>

		<!--<script src="/javascripts/jquery-1.11.0.min.js"></script>-->
		<script src="/javascripts/jquery.js"></script>
		<script src="/javascripts/jquery-ui.js"></script>

        <!-- Latest compiled and minified CSS : Template CSS -->
        <link rel="stylesheet" href="/stylesheets/editor-style.css">

        <!-- Latest compiled and minified CSS : Template CSS -->
        <link rel="stylesheet" href="/stylesheets/main.min.css">

        <!-- font awesome cdn -->
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

        <!-- Updates for CSS : Outside of template CSS -->
        <link rel="stylesheet" href="/stylesheets/override.css">
		
		<link rel="stylesheet" href="/stylesheets/loader.css">
		<link rel="stylesheet" href="/stylesheets/simplemodal.css">
		<link rel="stylesheet" href="/stylesheets/jquery-ui.css">
		<link rel="stylesheet" href="/stylesheets/jquery-ui.theme.css">

        <!-- Latest compiled and minified JavaScript for bootstrap stuff -->
        <script src="/javascripts/scripts.min.js"></script>

        <!-- Kyle's JS code -->		
		<script src="/javascripts/jquery.simplemodal.js"></script>
		<script src="/javascripts/simplemodal-procs.js"></script>
    	<script src="/javascripts/basic.js"></script>
    	<script src="/javascripts/Plug_PW.js"></script>

		<!-- Favicons for all devices -->
		<link rel="shortcut icon" href="/images/favicons/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon">
		<link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
		<link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
		<meta name="msapplication-TileColor" content="#ff0000"></meta>
		<meta name="msapplication-TileImage" content="/mstile-144x144.png"></meta>
		<!-- <meta name="apple-mobile-web-app-capable" content="yes" /> -->
	</head>
	
    <body>
        

        <header class="banner navbar navbar-default navbar-static-top" role="banner">
          <div id="srchbarContainer" class="container">
              <a href="<?php echo home_url(); ?>/">
              <div class="logo">
              </div>
              </a>
              <input class="search" id="btnSearch" type="text" data-provide="typeahead" placeholder="Search...">
              <!-- Submit button -->
              <div class="submit-search">
			  <button id="btnSrchSubmit" type="button" class="btn btn-default submit-button"><i class="fa fa-search search-icon"></i></button>
			  </div>
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v"></i></button>
                <ul class="dropdown-menu keep-open dropdown-menu-left search-options" role="menu">
                  <form>
                    <div class="btn-group btn-group-justified btn-show-select">
                          <input type="button" href="#" class="btn disabled btn-block tv-select" value="TV">
                          <input type="button" href="#" class="btn disabled btn-block movie-select" value="Movie">
                          <input type="button" href="#" class="btn disabled btn-block fav-select" value="Favs">
                          <div class="btn-group">
                             <div class="season">
                                <select class="season-select">
                                  <option value="" disabled selected>Season</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="episode">
                                <select class="episode-select">
                                  <option value="" disabled selected>Episode</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="source">
                                <select class="source-select">
                                  <option value="" disabled selected>Source</option>
                                  <option>MovShare</option>
                                  <option>PutLocker</option>
                                  <option>Gorillavid</option>
                                </select>
                            </div>
                          </div>
                    </div>
                  </form>
                </ul>
              </div><!-- /btn-group -->
            <div class="navbar-header">
              <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> -->
                      <!-- The drop down menu -->
                <ul class="nav pull-right login-buttons">
                  <li><a class="btn-primary sign-cred-btn" href="<?php echo home_url(); ?>/?p=12">Sign Up</a></li>
                  <li class="divider-vertical"></li>
                  <li class="drop down">
                    <a class="dropdown-toggle btn-primary sign-cred-btn" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                    <div id="ddlLogin" class="dropdown-menu login" style="padding: 15px; padding-bottom: 10px;">
                                  <!-- Login form here -->
                      <form id="frmUser" action="/" method="post" accept-charset="UTF-8">
                          <input id="user_username" placeholder="Login" style="margin-bottom: 15px;" type="text" name="username" size="30" />
                          <input id="user_password" placeholder="Password" style="margin-bottom: 15px;" type="password" name="password" size="30" />
                          <p id="pFailedLogin" class="failed-login">Login Unsuccessful</p>
						  <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="remember_me" value="1" />						  
                          <label class="string optional" for="remember_me"> Remember me</label>

                          <input id="btnLogin" class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="button" name="commit" value="Sign In" />
                      </form>
                    </div>
                  </li>
                </ul>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              
            </nav>
          </div>
        </header>

        <!--Content Section-->
        <div class="vid-grid">
			<!--SearchResults-->
			<div id="grdSrchResults" style="display: none;">
				<div id="srch_preLoader">
					<!-- <img src="/images//loader.gif" alt="img not found" id="loader1" height="80" width="80" style="display: block; margin-left: auto; margin-right: auto;" /> -->
					<div class="loader">loading</div> 
				</div>
				<div id="hdnLoadResults" style="display: none;">
					<div class="section">
						<h4 class="section-head">Search Results</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div id="srchItem_container0" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img0" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n0">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu0">
													<div id="srchItem_btnInfo0" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv0" style="display: none;">
														<p id="srchItem_hdnName0"></p>
														<p id="srchItem_hdnImg0"></p>
														<p id="srchItem_hdnDesc0"></p>
														<p id="srchItem_hdnGenre0"></p>
														<p id="srchItem_hdnYear0"></p>
														<p id="srchItem_hdnLink0"></p>
													</div>
												</button>											
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav0" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="srchItem_container1" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img1" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n1">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu1">
													<div id="srchItem_btnInfo1" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv1" style="display: none;">
														<p id="srchItem_hdnName1"></p>
														<p id="srchItem_hdnImg1"></p>
														<p id="srchItem_hdnDesc1"></p>
														<p id="srchItem_hdnGenre1"></p>
														<p id="srchItem_hdnYear1"></p>
														<p id="srchItem_hdnLink1"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav1" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="srchItem_container2" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img2" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n2">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu2">
													<div id="srchItem_btnInfo2" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv2" style="display: none;">
														<p id="srchItem_hdnName2"></p>
														<p id="srchItem_hdnImg2"></p>
														<p id="srchItem_hdnDesc2"></p>
														<p id="srchItem_hdnGenre2"></p>
														<p id="srchItem_hdnYear2"></p>
														<p id="srchItem_hdnLink2"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav2" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>								
							</div>
						</div>
						<div id="srchItem_container3" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img3" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n3">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu3">
													<div id="srchItem_btnInfo3" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv3" style="display: none;">
														<p id="srchItem_hdnName3"></p>
														<p id="srchItem_hdnImg3"></p>
														<p id="srchItem_hdnDesc3"></p>
														<p id="srchItem_hdnGenre3"></p>
														<p id="srchItem_hdnYear3"></p>
														<p id="srchItem_hdnLink3"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav3" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="srchItem_container4" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img4" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n4">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu4">
													<div id="srchItem_btnInfo4" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv4" style="display: none;">
														<p id="srchItem_hdnName4"></p>
														<p id="srchItem_hdnImg4"></p>
														<p id="srchItem_hdnDesc4"></p>
														<p id="srchItem_hdnGenre4"></p>
														<p id="srchItem_hdnYear4"></p>
														<p id="srchItem_hdnLink4"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav4" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="srchItem_container5" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img5" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n5">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="srch_dropdownMenu5">
													<div id="srchItem_btnInfo5" class="btn-primary-txt">Info
													</div>
													<div id="srchItem_hdnDiv5" style="display: none;">
														<p id="srchItem_hdnName5"></p>
														<p id="srchItem_hdnImg5"></p>
														<p id="srchItem_hdnDesc5"></p>
														<p id="srchItem_hdnGenre5"></p>
														<p id="srchItem_hdnYear5"></p>
														<p id="srchItem_hdnLink5"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="srchItem_btnFav5" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->					
					<div id="srchItem_getMore" class="more-arrow">
						<p><i class="fa fa-chevron-circle-left"></i></p>
					</div>
					<div id="srchItem_getLess" class="more-arrow">
						<p><i class="fa fa-chevron-circle-right"></i></p>
					</div>
				</div>
				<p id="hdnRsltSetCounter" style="display: none;">0</p>
				<p id="hdnRsltSetLoaded" style="display: none;">false</p>
			</div>
		
			<div id="binCategoryContainer" style="position: relative; display: none;">
				<!--Favorites-->
				<div id="grdFavorites">
					<div class="section">
						<h4 class="section-head">Favorites</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div id="favItem_container0" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img0" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n0">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu0">
													<div id="favItem_btnInfo0" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv0" style="display: none;">
														<p id="favItem_hdnName0"></p>
														<p id="favItem_hdnImg0"></p>
														<p id="favItem_hdnDesc0"></p>
														<p id="favItem_hdnGenre0"></p>
														<p id="favItem_hdnYear0"></p>
														<p id="favItem_hdnLink0"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav0" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="favItem_container1" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img1" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n1">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu1">
													<div id="favItem_btnInfo1" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv1" style="display: none;">
														<p id="favItem_hdnName1"></p>
														<p id="favItem_hdnImg1"></p>
														<p id="favItem_hdnDesc1"></p>
														<p id="favItem_hdnGenre1"></p>
														<p id="favItem_hdnYear1"></p>
														<p id="favItem_hdnLink1"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav1" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="favItem_container2" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img2" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n2">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu2">
													<div id="favItem_btnInfo2" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv2" style="display: none;">
														<p id="favItem_hdnName2"></p>
														<p id="favItem_hdnImg2"></p>
														<p id="favItem_hdnDesc2"></p>
														<p id="favItem_hdnGenre2"></p>
														<p id="favItem_hdnYear2"></p>
														<p id="favItem_hdnLink2"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav2" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="favItem_container3" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img3" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n3">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu3">
													<div id="favItem_btnInfo3" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv3" style="display: none;">
														<p id="favItem_hdnName3"></p>
														<p id="favItem_hdnImg3"></p>
														<p id="favItem_hdnDesc3"></p>
														<p id="favItem_hdnGenre3"></p>
														<p id="favItem_hdnYear3"></p>
														<p id="favItem_hdnLink3"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav3" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="favItem_container4" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img4" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n4">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu4">
													<div id="favItem_btnInfo4" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv4" style="display: none;">
														<p id="favItem_hdnName4"></p>
														<p id="favItem_hdnImg4"></p>
														<p id="favItem_hdnDesc4"></p>
														<p id="favItem_hdnGenre4"></p>
														<p id="favItem_hdnYear4"></p>
														<p id="favItem_hdnLink4"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav4" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="favItem_container5" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="favItem_img5" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="favItem_n5">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="fav_dropdownMenu5">
													<div id="favItem_btnInfo5" class="btn-primary-txt">Info
													</div>
													<div id="favItem_hdnDiv5" style="display: none;">
														<p id="favItem_hdnName5"></p>
														<p id="favItem_hdnImg5"></p>
														<p id="favItem_hdnDesc5"></p>
														<p id="favItem_hdnGenre5"></p>
														<p id="favItem_hdnYear5"></p>
														<p id="favItem_hdnLink5"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="favItem_btnFav5" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
	
				<!--RecentlyWatched-->
				<div id="grdRecentlyWatched">
					<div class="section">
						<h4 class="section-head">Recently Watched</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div id="recItem_container0" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img0" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n0">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu0">
													<div id="recItem_btnInfo0" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv0" style="display: none;">
														<p id="recItem_hdnName0"></p>
														<p id="recItem_hdnImg0"></p>
														<p id="recItem_hdnDesc0"></p>
														<p id="recItem_hdnGenre0"></p>
														<p id="recItem_hdnYear0"></p>
														<p id="recItem_hdnLink0"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav0" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="recItem_container1" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img1" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n1">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu1">
													<div id="recItem_btnInfo1" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv1" style="display: none;">
														<p id="recItem_hdnName1"></p>
														<p id="recItem_hdnImg1"></p>
														<p id="recItem_hdnDesc1"></p>
														<p id="recItem_hdnGenre1"></p>
														<p id="recItem_hdnYear1"></p>
														<p id="recItem_hdnLink1"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav1" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="recItem_container2" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img2" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n2">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu2">
													<div id="recItem_btnInfo2" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv2" style="display: none;">
														<p id="recItem_hdnName2"></p>
														<p id="recItem_hdnImg2"></p>
														<p id="recItem_hdnDesc2"></p>
														<p id="recItem_hdnGenre2"></p>
														<p id="recItem_hdnYear2"></p>
														<p id="recItem_hdnLink2"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav2" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="recItem_container3" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img3" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n3">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu3">
													<div id="recItem_btnInfo3" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv3" style="display: none;">
														<p id="recItem_hdnName3"></p>
														<p id="recItem_hdnImg3"></p>
														<p id="recItem_hdnDesc3"></p>
														<p id="recItem_hdnGenre3"></p>
														<p id="recItem_hdnYear3"></p>
														<p id="recItem_hdnLink3"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav3" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="recItem_container4" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img4" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n4">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu4">
													<div id="recItem_btnInfo4" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv4" style="display: none;">
														<p id="recItem_hdnName4"></p>
														<p id="recItem_hdnImg4"></p>
														<p id="recItem_hdnDesc4"></p>
														<p id="recItem_hdnGenre4"></p>
														<p id="recItem_hdnYear4"></p>
														<p id="recItem_hdnLink4"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav4" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="recItem_container5" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="recItem_img5" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="recItem_n5">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="rec_dropdownMenu5">
													<div id="recItem_btnInfo5" class="btn-primary-txt">Info
													</div>
													<div id="recItem_hdnDiv5" style="display: none;">
														<p id="recItem_hdnName5"></p>
														<p id="recItem_hdnImg5"></p>
														<p id="recItem_hdnDesc5"></p>
														<p id="recItem_hdnGenre5"></p>
														<p id="recItem_hdnYear5"></p>
														<p id="recItem_hdnLink5"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="recItem_btnFav5" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>							
						</div>
					</div><!--end of row-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
	
				<!--PopularOnCPKBrowser-->
				<div id="grdPopularOnCPK">
					<div class="section">
						<h4 class="section-head">Popular on CPK Browser</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div id="popItem_container0" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img0" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n0">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu0">
													<div id="popItem_btnInfo0" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv0" style="display: none;">
														<p id="popItem_hdnName0"></p>
														<p id="popItem_hdnImg0"></p>
														<p id="popItem_hdnDesc0"></p>
														<p id="popItem_hdnGenre0"></p>
														<p id="popItem_hdnYear0"></p>
														<p id="popItem_hdnLink0"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav0" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="popItem_container1" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img1" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n1">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu1">
													<div id="popItem_btnInfo1" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv1" style="display: none;">
														<p id="popItem_hdnName1"></p>
														<p id="popItem_hdnImg1"></p>
														<p id="popItem_hdnDesc1"></p>
														<p id="popItem_hdnGenre1"></p>
														<p id="popItem_hdnYear1"></p>
														<p id="popItem_hdnLink1"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav1" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="popItem_container2" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img2" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n2">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu2">
													<div id="popItem_btnInfo2" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv2" style="display: none;">
														<p id="popItem_hdnName2"></p>
														<p id="popItem_hdnImg2"></p>
														<p id="popItem_hdnDesc2"></p>
														<p id="popItem_hdnGenre2"></p>
														<p id="popItem_hdnYear2"></p>
														<p id="popItem_hdnLink2"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav2" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="popItem_container3" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img3" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n3">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu3">
													<div id="popItem_btnInfo3" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv3" style="display: none;">
														<p id="popItem_hdnName3"></p>
														<p id="popItem_hdnImg3"></p>
														<p id="popItem_hdnDesc3"></p>
														<p id="popItem_hdnGenre3"></p>
														<p id="popItem_hdnYear3"></p>
														<p id="popItem_hdnLink3"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav3" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="popItem_container4" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img4" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n4">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu4">
													<div id="popItem_btnInfo4" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv4" style="display: none;">
														<p id="popItem_hdnName4"></p>
														<p id="popItem_hdnImg4"></p>
														<p id="popItem_hdnDesc4"></p>
														<p id="popItem_hdnGenre4"></p>
														<p id="popItem_hdnYear4"></p>
														<p id="popItem_hdnLink4"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav4" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div id="popItem_container5" class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="popItem_img5" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="popItem_n5">Title of Movie or Episode</h2>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
												<button class="btn-toggle" onclick="open_mdlInfo(this);" type="button" id="pop_dropdownMenu5">
													<div id="popItem_btnInfo5" class="btn-primary-txt">Info
													</div>
													<div id="popItem_hdnDiv5" style="display: none;">
														<p id="popItem_hdnName5"></p>
														<p id="popItem_hdnImg5"></p>
														<p id="popItem_hdnDesc5"></p>
														<p id="popItem_hdnGenre5"></p>
														<p id="popItem_hdnYear5"></p>
														<p id="popItem_hdnLink5"></p>
													</div>
												</button>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div id="popItem_btnFav5" style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
					<div class="more-arrow" style="display: none;">
						<a href="#">^</a>
					</div>
				</div>
			</div>
		</div><!--endofvidgrid-->
		<div class="land-page" style="display:block;" >
			<div class="container">
				<!-- logo starter -->
				<div class="container try-anything">
					<div class="row">
						<div class="col-xs-8 pull-left">
							<div class="landing-info welcome">
									Try Anything
							</div>
						</div>
						<div class="col-xs-4">
							<div class="landing-pic">
								<i class="fa fa-level-up uparrow"></i>
							</div>
						</div>
					</div>
				</div>

				<!-- cancel the cable image -->
				<div class="container story">
					<div class="row">
						<div class="col-xs-12">
							<div class="landing-picture coax">
								<img src="/img//CPKcoax.png" class="landing-main-pic">
							</div>
						</div>
					</div>
				</div>
				<!-- -->
				<div class="container story">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="landing-video">
								<iframe class="tut-vid" width="100%" height="315" src="//www.youtube.com/embed/YgrEBI00D1w" frameborder="0" allowfullscreen></iframe>
							</div>
						</div>
						<div class="col-md-6 col-sm-12">
							<h4 class="catch-phase1">
								Tell your friends to <br>
								cancel their cable!
							</h4>
						</div>
					</div>
				</div>

				<!-- Footer/End Of Story Thanks/Promotions -->

				<div class="container story">
					<div class="row">
						<div class="col-sm-4">
							<div class="landing-picture">
								
							</div>
						</div>
						<div class="col-sm-8">
							<div class="landing-info">
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid footer">
			<div class="bottom-section">
				<div class="row row-reset">
					<div class="col-sm-6">
						<div class="makers">
							© 2014 CPK Browser
							<!-- Makers:
							<strong>Programmer:</strong> Kyle Brown<br>
							<strong>Web Design:</strong> Shawn Brandt -->
						</div>
					</div>
					<!-- <div class="col-sm-4">
						<div class="pageination-wrap" style="display: none;">
							<ul class="pagination">
							<li><a href="#">&laquo;</a></li>
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
							<li><a href="#">4</a></li>
							<li><a href="#">5</a></li>
							<li><a href="#">&raquo;</a></li>
							</ul>
						</div>
					</div> -->
					<div class="col-sm-6">
						<div class="common-links">
							<ul>
							<li><a href="#">Copywrite</a></li>
							<li><a href="#">Disclamer</a></li>
							<li><a href="#">Forum</a></li>
							<li><a href="#">FAQs</a></li>
							<li><a href="#">Login</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="usrInfo" style="display: none;"></div>
		<!-- #ShowInfo - custom table containing important values from search results -->
		<div id="hdnValues" style="display: none;"></div>
		<!-- #showEpisodes - Raw data from primewire tv show episode list -->
		<div id="hdnValues2" style="display: none;"></div>
		<!-- table (no id) - Holds an array of season lengths -->
		<div id="hdnValues3" style="display: none;"></div>
		<!-- #showLinks - raw html 'span' elements whose href values contains actual links for TV SHOWS -->
		<div id="hdnValues4" style="display: none;"></div>
		<!-- 2 text fields (no id) - first field = current season; second field = current episode -->
		<div id="hdnValues5" style="display: none;"></div>
		<!-- 2 elements (no id) - first element = list of links for current episode; second field = current link index -->
		<div id="hdnValues6" style="display: none;"></div>
		<!-- #showLinks - raw html 'span' elements whose href values contains actual links for MOVIES -->
		<div id="hdnValues7" style="display: none;"></div>
		<div id="hdnSearchType" style="display: none;">tv</div>
		<div id="hdnModalType" style="display: none;"></div>
		<div id="basic-modal-content">
			<div class="info-pane" id="mdlInfoPane">
				<div class="row info-pane-max">
					<div class="col-sm-3">
						<a class="info-pic" href="#"> <img id="mdlInfo_Img" class="info-thumb-img" src="../public/images//placeholder.png">
						</a>
						<div style="width: 150px; height 30px; display: none;" class="play-button" id="mdlStartMovie">
							<div class="btn-primary float-button">
								<button class="btn-toggle" onclick="startMovie();" type="button">
									<div class="btn-primary-txt">Play Movie</div>
								</button>
							</div>
						</div>
					</div>
					<div id="mdlInfo" class="col-sm-9">
						<div class="detail-wrap">
							<h4 id="mdlInfo_Name" class="title-info-pane" style="color:black;">Title of Movie or Episode</h4>
							<!-- Nav tabs -->
							<ul class="nav nav-tabs" role="tablist">
								<li class="active"><a href="#main-details" class="main-detials-color" style="color:black" role="tab" data-toggle="tab">Details</a></li>
								<li><a href="#links" class="nav-links-spacing" role="tab" style="color:black" data-toggle="tab">Links</a></li>
							</ul>
							<!-- Tab panes -->
							<div class="tab-content">
								<div class="tab-pane active" id="main-details">
										<h6 id="mdlInfo_Year" class="date" style="color:black;"></h6>
										<h6 id="mdlInfo_Genre" class="tags" style="color:black;"></h6>
										<p id="mdlInfo_Desc" class="info" style="color:black; width: 100%;"></p>
										<p id="mdlInfo_Link" style="display: none;"></p>
										<p id="mdlActive_Div" style="display: none;"></p>
								</div>
								<div class="tab-pane" id="links">
									<div id="lnkAccordion" style="width: 100%; max-height: 180px; overflow: auto;">
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
			<div id="mdlMoviePane">
				<!-- <iframe style="width: 100%; height: 800px;" src="about:blank" sandbox="allow-forms allow-same-origin allow-scripts allow-pointer-lock"></iframe>  -->
			<div id="navCntrlContainer" class="nav-control">
				<div id="mdlNavButtons" align="left" style="width: 100%;">
					<div id="btnNavInfo" style="color: white; margin-left: 28px; padding-bottom: 10px; float: left;">
						<i class="fa fa-bars"></i>
					</div>
					<div id="navContainer" class="row" style="display:none">
						<div class="col-xs-12 link-placement">
							<p style="text-align: right; color: #ffffff; cursor: pointer; display: inline-block;" onclick="loadPreviousLink(); return false;">  
							<i class="fa fa-step-backward icon-hover"></i>
							
							</p>
							<p style="display: inline-block; color: #ffffff; padding-left: 0px; padding-right: 0px;"> <span style="padding: 0px 22px 0px 22px;" class="nav-link-design">Link</span> </p>
							<p style="text-align: right; color: #ffffff; cursor: pointer; display: inline-block;" onclick="loadNextLink(); return false;">
							<i class="fa fa-step-forward icon-hover"></i>
							</p>
							<p style="padding-left: 0px; padding-right: 0px; display: inline-block;"> </p>
						</div>
						<div class="col-xs-12 link-placement">
							<div id="mdlNavEpisodes" style="inline-block">
								<p style="text-align: left; color: #ffffff; cursor: pointer; display: inline-block;" onclick="loadPreviousEpisode(); return false;">
								<i class="fa fa-fast-backward icon-hover"></i>
								</p>
								<p style="display: inline-block; color: #ffffff; padding-left: 0px; padding-right: 0px;">
								<span class="nav-link-design">
									Episode
								</span>
								</p>
								<p style="text-align: left; color: #ffffff; cursor: pointer; display: inline-block;" onclick="loadNextEpisode(); return false;">
								<i class="fa fa-fast-forward icon-hover"></i>
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>

				<iframe id="mdlVideoFrame" style="width: 100%; height: 800px;" src="about:blank"></iframe>
				
			</div>
		</div>
    </body>
</html>
