<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
  		<meta charset="utf-8">
  		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  		<title>CPK Browser</title>
  		<meta name="viewport" content="width=device-width, initial-scale=0">

        <script>window.jQuery || document.write('<script src="/javascripts/jquery-1.11.0.min.js"><\/script>')</script>

        <!-- Latest compiled and minified CSS : Template CSS -->
        <link rel="stylesheet" href="/stylesheets/editor-style.css">

        <!-- Latest compiled and minified CSS : Template CSS -->
        <link rel="stylesheet" href="/stylesheets/main.min.css">

        <!-- Updates for CSS : Outside of template CSS -->
        <link rel="stylesheet" href="/stylesheets/override.css">

        <!-- Latest compiled and minified JavaScript for bootstrap stuff -->
        <script src="/javascripts/scripts.min.js"></script>

        <!-- Kyle's JS code -->
    		<script src="/javascripts/basic.js"></script>
    		<script src="/javascripts/TestConnection.js"></script>

      <!-- Favicons for all devices -->
      <link rel="shortcut icon" href="/images/favicons/favicon.ico" type="image/x-icon">
      <link rel="icon" href="/images/favicons/favicon.ico" type="image/x-icon">
      <link rel="apple-touch-icon" sizes="57x57" href="/images/favicons/apple-touch-icon-57x57.png">
      <link rel="apple-touch-icon" sizes="114x114" href="/images/favicons/apple-touch-icon-114x114.png">
      <link rel="apple-touch-icon" sizes="72x72" href="/images/favicons/apple-touch-icon-72x72.png">
      <link rel="apple-touch-icon" sizes="144x144" href="/images/favicons/apple-touch-icon-144x144.png">
      <link rel="apple-touch-icon" sizes="60x60" href="/images/favicons/apple-touch-icon-60x60.png">
      <link rel="apple-touch-icon" sizes="120x120" href="/images/favicons/apple-touch-icon-120x120.png">
      <link rel="apple-touch-icon" sizes="76x76" href="/images/favicons/apple-touch-icon-76x76.png">
      <link rel="apple-touch-icon" sizes="152x152" href="/images/favicons/apple-touch-icon-152x152.png">
      <link rel="apple-touch-icon" sizes="180x180" href="/images/favicons/apple-touch-icon-180x180.png">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-192x192.png" sizes="192x192">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-160x160.png" sizes="160x160">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-96x96.png" sizes="96x96">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-16x16.png" sizes="16x16">
      <link rel="icon" type="image/png" href="/images/favicons/favicon-32x32.png" sizes="32x32">
      <meta name="msapplication-TileColor" content="#ff0000">
      <meta name="msapplication-TileImage" content="/mstile-144x144.png">
	</head>
    <body>
        

        <header class="banner navbar navbar-default navbar-static-top" role="banner">
          <div class="container">
              <a href="<?php echo home_url(); ?>/">
              <div class="logo">
              </div>
              </a>
              <input class="search" id="btnSearch" type="text" data-provide="typeahead" placeholder="Search...">
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Select<span class="caret"></span></button>
                <ul class="dropdown-menu keep-open dropdown-menu-left search-options" role="menu">
                  <form>
                    <div class="btn-group btn-group-justified btn-show-select">
                          <input type="button" href="#" class="btn disabled btn-block tv-select" value="TV">
                          <input type="button" href="#" class="btn disabled btn-block movie-select" value="Movie">
                          <input type="button" href="#" class="btn disabled btn-block fav-select" value="Favs">
                          <div class="btn-group">
                             <div class="season">
                                <select class="season-select">
                                  <option value="" disabled selected>Season</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="episode">
                                <select class="episode-select">
                                  <option value="" disabled selected>Episode</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                            </div>
                            <div class="source">
                                <select class="source-select">
                                  <option value="" disabled selected>Source</option>
                                  <option>MovShare</option>
                                  <option>PutLocker</option>
                                  <option>Gorillavid</option>
                                </select>
                            </div>
                          </div>
                    </div>
                  </form>
                </ul>
              </div><!-- /btn-group -->
            <div class="navbar-header">
              <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button> -->
                      <!-- The drop down menu -->
                <ul class="nav pull-right login-buttons">
                  <li><a class="btn-primary sign-cred-btn" href="<?php echo home_url(); ?>/?p=12">Sign Up</a></li>
                  <li class="divider-vertical"></li>
                  <li class="drop down">
                    <a class="dropdown-toggle btn-primary sign-cred-btn" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
                    <div id="ddlLogin" class="dropdown-menu login" style="padding: 15px; padding-bottom: 10px;">
                                  <!-- Login form here -->
                      <form id="frmUser" action="[YOUR ACTION]" method="post" accept-charset="UTF-8">
                          <input id="user_username" style="margin-bottom: 15px;" type="text" name="user[username]" size="30" />
                          <input id="user_password" style="margin-bottom: 15px;" type="password" name="user[password]" size="30" />
                          <input id="user_remember_me" style="float: left; margin-right: 10px;" type="checkbox" name="user[remember_me]" value="1" />
                          <label class="string optional" for="user_remember_me"> Remember me</label>

                          <input class="btn btn-primary" style="clear: left; width: 100%; height: 32px; font-size: 13px;" type="submit" name="commit" value="Sign In" />
                      </form>
                    </div>
                  </li>
                </ul>
            </div>
            <nav class="collapse navbar-collapse" role="navigation">
              
            </nav>
          </div>
        </header>

        <!--Content Section-->
        <div class="vid-grid">
			<!--SearchResults-->
			<div id="grdSrchResults" style="display: none;">
				<div id="srch_preLoader">
					<img src="/images//loader.gif" alt="img not found" id="loader1" height="80" width="80" style="display: block; margin-left: auto; margin-right: auto;" />
				</div>
				<div id="hdnLoadResults" style="display: none;">
					<div class="section">
						<h4 class="section-head">Search Results</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img0" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n0">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img1" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n1">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img2" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n2">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img3" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n3">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img4" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n4">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img id="srchItem_img5" class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title" id="srchItem_n5">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
			</div>
		
			<div id="binCategoryContainer" style="position: relative;">
				<!--Favorites-->
				<div id="grdFavorites">
					<div class="section">
						<h4 class="section-head">Favorites</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--end of row-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
	
				<!--RecentlyWatched-->
				<div id="grdRecentlyWatched">
					<div class="section">
						<h4 class="section-head">Recently Watched</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--endofrow-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
	
				<!--PopularOnCPKBrowser-->
				<div id="grdPopularOnCPK">
					<div class="section">
						<h4 class="section-head">Popular on CPK Browser</h4>
						<hr class="section">
					</div>
					<div class="row">
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-2 col-sm-4 col-xs-6">
							<div class="vid-hover">
								<div class="video-box">
									<a class="vid-link" href="<?php echo home_url(); ?>/#"> <img class="vid-thumb-img" src="/images//placeholder.png">
									</a>
									<div class="description">
										<h2 class="title">Title of Movie or Episode</h4>
									</div>
									<div class="row">
										<div class="col-xs-6 button-span">
											<div class="dropdown btn-primary">
											<button class="btn-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
												<div class="btn-primary-txt">Info
												</div>
											</button>
											<div class="dropdown-menu detail-dropdown" style="padding:5px;" role="menu" aria-labelledby="dropdownMenu1">
												<h4 class="date" style="color:black;">May 2014</h4>
												<p class="info" style="color:black;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
												</p>
											</div>
											</div>
										</div>
										<div class="col-xs-6 button-span">
											<div style="text-align:center;padding:2px;" class="btn-primary addtofav">
												<a href="#">
													+Favs
												</a>
											</div>
										</div> 
									</div>
								</div>
							</div>
						</div>
					</div><!--endofrow-->
					<div class="more-arrow">
						<a href="#">^</a>
					</div>
				</div>
			</div>
		</div><!--endofvidgrid-->

		<div class="bottom-section">
            <div class="row row-reset">
                <div class="col-sm-4">
                    <div class="makers">
                        © 2014 CPK Browser
                        <!-- Makers:
                        <strong>Programmer:</strong> Kyle Brown<br>
                        <strong>Web Design:</strong> Shawn Brandt -->
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pageination-wrap">
                        <ul class="pagination">
                          <li><a href="#">&laquo;</a></li>
                          <li><a href="#">1</a></li>
                          <li><a href="#">2</a></li>
                          <li><a href="#">3</a></li>
                          <li><a href="#">4</a></li>
                          <li><a href="#">5</a></li>
                          <li><a href="#">&raquo;</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="common-links">
                        <ul>
                          <li><a href="#">Copywrite</a></li>
                          <li><a href="#">Disclamer</a></li>
                          <li><a href="#">Forum</a></li>
                          <li><a href="#">FAQs</a></li>
                          <li><a href="#">Login</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
		<div id="hdnValues"></div>
		
    </body>
</html>
