<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CPK Browser - Legal</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <title></title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		  <meta name='robots' content='noindex,follow' />
		<link rel="stylesheet" href="/stylesheets/main-basic.min.css?ver=2d95d7aa4f045d02efeac3d0ddda3560">
		<link rel="stylesheet" href="/stylesheets/basic-temp.css">
		<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
		<script>window.jQuery || document.write('<script src="/javascripts/jquery.js"><\/script>')</script>
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    </head>
    <body class="basic">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
    <div class="container copyright-bg">
	   <div class="row row-reset">
		    <h1 class="primary">
		    	Legal
		    </h1>
		    <hr class="section-basic"></hr>
		    <div class="row">
		    	<div class="col-sm-5">
		    		<h5 class="primary">Elements of Copyright Infriengment</h5>
					<ul>
					<li>Make copies of work</li>
					<li>Distribute copies of work</li>
					<li>"Perform" work publicly</li>
					<li>Display work publicly</li>
					<li>Make "derivatives" of work</li>
					<i class="fa fa-long-arrow-right right-direction"></i>
					<li class="upsize">Cannot "Induce" infringement:</li>
					</ul>
					<a href="http://www.copyrightkids.org/copyrightbasics.html" class="main-link">CopyrightKids.org Source</a>
		    	</div>
		    	<div class="col-sm-7">
		    		<div class="top-qoute">
		    		<blockqoute>"We hold that one who distributes a device with the object of promoting its use to infringe copyright, as shown by clear expression or other affirmative steps taken to foster infringement, is liable for the resulting acts of infringement by third parties."</blockqoute>
		    		
					</div>
		    	</div>
		    </div>
				<h4 class="primary">Does CPK Browser Infringe?</h4>
		    	<hr class="section-basic"></hr>
		    	<ul class="section">
		    	<li>Make copies: <span class="highlight">No</span> (no physical copy is created, only linking to 3rd party vendors)</li>
				<li>Distribute copies: <span class="highlight">No</span> (no distribution at all, only linking to 3rd party vendors)</li>
				<li>"Perform" work publicly: <span class="highlight">No</span> (users agree in TOS that they will not publicly display content)</li>
				<li>Display work publicly: <span class="highlight">No</span> (users agree in TOS that they will not publicly display content)</li>
				<li>Make "derivatives" of work: <span class="highlight">No</span> (CPK Browser never touches the stream, therefore it does not posses the ability to modify)</li>
				<li>Cannot "Induce": <span class="highlight">No</span> (We do not support users uploading or downloading content, which is infringement. We only offer link resources)</li>
			</ul>
				<h4 class="primary">How CPK Bypasses Infriengement:</h4>
		    	<hr class="section-basic"></hr>

				<li class="tos">*1. <span class="highlight">TOS</span> defines scope of usability, which restricts the following actions:</li>
				<ul class="section">
				<li>
					Users cannot participate in uploading content
				</li>
				<li>
					Users cannot download streaming content, in any fashion
				</li>
				<li>
					Users cannot display contents of CPK Browser in public settings (defined as anywhere that the content can be viewed by individuals not in the viewing party)
				</li>
				<ul class="section">
					<li>CPK Browser does not host ANY streamable content, only links to websites that contain links to this content
					CPK Browser does not load the content from 3rd party websites to CPK servers.
					</li>
					<li>Instead of pulling content from streaming sites into variables managed by CPK, it simply displays the 3rd parties web-page inside of CPK browser (this web-pages is un-tampered).
					</li>
					<li>Instead of pulling content from streaming sites into variables managed by CPK, it simply displays the 3rd parties web-page inside of CPK browser (this web-pages is un-tampered).
					</li>
					<li>
					CPK browser does not interfere with the data-stream of any 3rd party streaming resources.
					</li>
				</ul>
				</ul>

	<li class="tos">
		*2.
	<span class="highlight"> TOS</span> CPK Browser does not generate revenue from the sites hosting the streaming content.
	</li>
	<li class="tos">
		*3.
	<span class="highlight">TOS</span> CPK Browser does not generate revenue from referring users to external links, we generate revenue from subscriptions to premium packages and plug-ins.
	</li>
</ul>
<div class="row row-reset">
	<div class="col-sm-6">
		<h4 class="primary">Terms of Service</h4>
		    	<hr class="section-basic"></hr>
				<ol>
					<li>Terms Of Service</li>
					<li>Revenue generated by CPK is from subscriptions and banner-ads (which are never located on any page that contains streaming content)</li>
					<li>Premium packages and plug-ins contain entirely proprietary products, consisting of pop-up blockers and organizational schemas, etc...</li>
				</ol>
	</div>
	<div class="col-sm-6">
				<h4 class="primary">Flava Works vs Gunter</h4>
		    	<hr class="section-basic"></hr>
				<ul>
					<li>District Court Ruling</li>
					<li>Concurring Opinon: Richard Posner</li>
					<li>Has not been overturned by higher court</li>
				</ul>
	</div>
	</div>
	<div class="extra-info">
		<h4 class="primary">Examples</h4>
		    	<hr class="section-basic"></hr>
		<p>
		The "infringers" were people uploading material in breach of copyright. There was no evidence these were myVidster users, nor evidence of a link between such people and myVidster, 
nor that myVidster "contributed" or incentivized this behavior.</p>
</p>
<p>
The myVidster user viewing such material online is not engaging in copyright infringement, any more than a person "sneaking into a movie theater to watch a movie without buying a 
ticket" is infringing copyright by seeing the movie: - "That is a bad thing to do (in either case) but it is not copyright infringement".
</p>
<p>
The "typical" definition of a "contributory" infringer is unhelpful, insofar as it allows that a person "may" be held liable (and presumptively therefore may not in some cases be held liable), 
does not define "materially" and does not distinguish "cause" from "contribute". The definition of Bender v West Publishing and Perfect 10 v. Amazon is preferable for legal certainty: 
"personal conduct that encourages or assists the infringement". However there is no evidence that conduct by myVidster increases the amount of infringement (for example by myVidster users 
further copying those videos they view by means of myVidster).
</p>
<p>
Legislative mention of "referring or linking users to an online location containing infringing material" (DMCA) is not by itself evidence of infringement; overwhelmingly the vast majority of 
hyperlinks on the internet will by design navigate to (and if followed by a user will display) content which is copyright and therefore capable of being infringed by a user (and constitutes 
infringement or infringing material if inappropriately accessed),[Note 1] including web page background images, background images or sounds, or other third party creations. The more plausible 
interpretation of the clause is a desire to make safe harbor as wide as possible, and not to make the scope of infringement as wide as possible.
</p>
<p>
Knowing that some of the many links on its site are infringing, does not cause myVidster to be a contributory infringer; any infringement is unencouraged and the link, 
or any social benefit as a theory of liability is very tenuous.
</p>
<p>
myVidster was also not responsible for any performance "publicly". While arguably at infringement "performance by uploading" took place, this was not related to myVidster. 
On watching, myVidster users received the media directly via a third party (myVidster "did not touch the data stream") and the "performance" was neither "public" nor "performed" by myVidster. 
(By analogy, when a newspaper states a play is on, and provides directions to where it may be seen, it is not thereby "performing" them or causing them to be "performed") To decide otherwise 
would "blur the distinction between direct and contributory infringement" to an inappropriate level.
</p>
<p>
myVidster is giving web surfers addresses where they can find entertainment. By listing plays and giving the name and address of the theaters where they are being performed, 
the New Yorker is not performing them. It is not “transmitting or communicating” them… myVidster doesn’t touch the data stream, which flows directly from one computer to another, 
neither being owned or operated by myVidster.
</p>
<div class="row buttom-sources">
	<h4 class="primary secoundary">// Credible Sources //</h4>
	<div class="col-sm-4">
		<a class="link-space" href="http://www.avvo.com/legal-guides/ugc/copyright-101-is-streaming-movies-or-tv-shows-copyright-infringement" class="main-link">Avvo.com
		</a>
	</div>
	<div class="col-sm-4">
		<a class="link-space" href="http://en.wikipedia.org/wiki/Flava_Works_Inc._v._Gunter" class="main-link">Wikipedia.org</a>
	</div>
	<div class="col-sm-4">
		<a class="link-space" href="http://dottech.org/75407/court-rules-embedding-or-watching-a-copyrighted-video-is-not-copyright-infringement/#7axhHASWz2dvzyor.99" class="main-link">Dottech.org</a>
	</div>
	</div>
	</div>
</div>
		
	</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>