<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html manifest="http://www.cpkbrowser.com/manifest.appcache" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CPK Browser - FAQ's</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- styles -->
        <meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <title></title>
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		  <meta name='robots' content='noindex,follow' />
		<link rel="stylesheet" href="/stylesheets/main-basic.min.css?ver=2d95d7aa4f045d02efeac3d0ddda3560">
		<link rel="stylesheet" href="/stylesheets/basic-temp.css">
		<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    </head>
    <body class="basic">
		<div class="container copyright-bg">
			<div class="row row-reset">
				<h1 class="primary">
					Welcome to CPK Browser!
				</h1>
				<h6 class="primary faqs-title">
					<p>If this is your first experience with CPK Browser, please view the tutorials below.</p>
					<p>When you are ready to start watching shows, click the "X" button in the top right.</p>
				</h6>
				<hr class="section-basic"></hr>
				
				<div class="row">
					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap">
							<h5 class="primary">FREE</h5>
							<div class="signup-onFAQ">
								Signup and become a beta user now! Limited time only: First 1000 will be considered for upper teir packages and trials. 
								Cross Browser/Device,  Features cross all browser and all devices, Return Watching, Social Media, Custom Bin Creator, Help Info, Control over Links or Episodes, Favorites, and Recently Watched.
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap">
							<h5 class="primary">PLUS</h5>
							<div class="signup-onFAQ">
								Will include advanced pop up blocker and other PLUS PACKAGES.
								CPK Lorem Ispum -
								More features under this package..
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap">
							<h5 class="primary">BLACK</h5>
							<div class="signup-onFAQ">
								Features the Mature content for Adults only.  This package is for people who 18+ and older. 
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap">
							<h5 class="primary">PREMIUM</h5>
							<div class="signup-onFAQ">
								Features Everything. Social Media, Custom Bin Creator, Help Info, Control over Links and Episodes, Favorites, and Recently Watched. Advanced Popup Blocker
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
				</div>
				<hr class="section-basic" style="margin-top: 30px;"></hr>				
			</div>				
		</div>
    </body>
</html>