<!DOCTYPE html>
	<html manifest="http://www.cpkbrowser.com/manifest.appcache" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CPK Browser - Tutorials</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
		<meta name='robots' content='noindex,follow' />
		<link rel="stylesheet" href="/stylesheets/main-basic.min.css?ver=2d95d7aa4f045d02efeac3d0ddda3560">
		<link rel="stylesheet" href="/stylesheets/basic-temp.css">
		<script type='text/javascript' src='//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'></script>
    </head>
    <body class="basic">
		<div class="container copyright-bg">
			<div class="row row-reset">
				<img src="/images/tutorials/thanksimage.jpg" alt="img not found" align="middle" class="thanks"></img>
				<hr class="section-basic" style="margin-top: 10px;"></hr>
				<h1 class="primary faqs-title" style="font-size: 22px;">
					<p style="text-align: center;">If this is your first experience with CPK Browser, please view the tutorials below.</p>
					<p style="text-align: center;">When you are ready to start watching shows, click <a style="cursor: pointer;" onclick="parent.closeCPKInternal();">here</a>.</p>
				</h1>
				<div class="row">					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap" style="min-height: 395px !important;">
							<h5 class="primary">Searching</h5>
							<div class="signup-onFAQ">
								<img src="/images/tutorials/t2.jpg" alt="img not found" class="tutorial"></img>
								<p>To search, simply enter the show you wish to watch into the search bar (see image above) then press enter (or click the search icon). 
								Your search results will populate directly below the search bar.</p>
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap" style="min-height: 395px !important;">
							<h5 class="primary">Watch a Show</h5>
							<div class="signup-onFAQ">
								<img src="/images/tutorials/t3.jpg" alt="img not found" class="tutorial"></img>
								<p>To watch a show, either search for it by name or choose one from the category "bins". When you find the show you want to watch 
								either click the image, or click the "info" button below it. In the "links" tab, choose the episode you want to watch and click it.</p>
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>					
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap" style="min-height: 395px !important;">
							<h5 class="primary">Help / Controller</h5>
							<div class="signup-onFAQ">
								<img src="/images/tutorials/t4.jpg" alt="img not found" class="tutorial"></img>
								<p>If you want to go to the next link or next episode, click the controller button and select the appropriate option.
								If you need help navigating the video link (dont know which buttons to click?) use the help tab on the right hand side.
								The help tab will give you advice as to which buttons to press to start the video.</p>
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
					<div class="col-md-3 col-sm-6 col-xs-12">
						<div class="package-wrap" style="min-height: 395px !important;">
							<h5 class="primary">Categories</h5>
							<div class="signup-onFAQ">
								<img src="/images/tutorials/t1.jpg" alt="img not found" class="tutorial"></img>
								<p>To find shows by category, click the icon that looks like 3 periods stacked on top of one another (to the right of the search icon). 
								Choose the categories you want to view, then click 'OK'. You can select as many categories as you want, to remove categories simply click it again then press" OK".</p>
							</div>
						</div>
							<a href="#" class="main-link package-signup">Watch Video</a>
					</div>
				</div>
				<hr class="section-basic" style="margin-top: 30px;"></hr>				
			</div>				
		</div>
    </body>
</html>